<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

</head>
<body>
<div class="container">
<div class="col-sm-4  login">
    <h3>Login</h3>

    <div th:if="${error}!=null" class="alert alert-danger"><span th:text="${error}"></span></div>
    <div th:if="${msg}!=null" class="alert alert-info"><span th:text="${msg}"></span></div>

    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username">UserName:</label> <input type="text" id="username"
                                                           class="form-control" name="username"/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label> <input type="password" id="password"
                                                      class="form-control" name="password"/>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
        <input type="hidden" name="${_csrf.parameterName}"
               value="${_csrf.token}" />
    </form>
</div>
</div>
</body>
<script
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</html>